/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "primeicons/primeicons.css";

* {
    font-family: Inter, system-ui, sans-serif;
}

.bg-primary {
    background-color: #10b981 !important;
    cursor: pointer;
}