@import "tailwindcss";
@import "primeicons/primeicons.css";
/* PrimeUI debe ir después de Tailwind para que sus capas coincidan */
@import "tailwindcss-primeui";

html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Inter', system-ui, sans-serif;
}

/* Cambia el color del número de página activa de PrimeNG */
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #0a9164 !important;
    color: white !important;
    border-radius: 50%;
}

.p-paginator {
    background: transparent !important;
    border: none !important;
}
/*6366f1*/
@theme {
  --color-blue-primary: #004DD1;
  --color-blue-hover: #005DFF;

  --color-primary: var(--color-blue-primary);
  --color-secondary: #002f9d;
  --color-blue-dark: #001540;
  --color-emerald-primary: #10b981;

}


