@import "tailwindcss";
@import "primeicons/primeicons.css";
/* PrimeUI debe ir después de Tailwind para que sus capas coincidan */
@import "tailwindcss-primeui";

html,
body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Inter', system-ui, sans-serif;
}

/* Cambia el color del número de página activa de PrimeNG */
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #0a9164 !important;
    color: white !important;
    border-radius: 50%;
}

.p-paginator {
    background: transparent !important;
    border: none !important;
}